body {
  background:lightblue;
  padding: 30px;
}

.header-title {
  font-weight: bold;
  font-size: 30px;
}

.btn {
  margin-bottom: 25px;
}

.right-box {
  width: 100px;
  float: right;
}

#city {

}

.card-event {

}

.left-box {
    width: 100px;
    float: left;
}

footer {
    color: darkgrey;
    text-align: center;
}



