body {
  background:lightblue;
  padding: 30px;
}

.header-title {
  font-weight: bold;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn {
  margin-bottom: 25px;
}

.content  {
  float: right;
}

footer {
    color: darkgrey;
    text-align: center;
}

